html{
    font-size:62.5%;;
}
body{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    height: 6rem;
    display: flex;
    align-items: center;
}
.logo{
    width:15vw;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 5rem;
    width:5rem;
}
.navbar ul{
    width: 55vw;
    font-size: 2.3rem;
    /* margin: auto; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    margin:3rem;
    
    list-style: none;
}
.navbar li a{
    color:white;

    text-decoration: none;
}
.navbar li a:hover{
    color:rgb(148, 130, 130);

    text-decoration: none;
}

.container{
    margin: 3rem auto;
    width:90vw;
    box-shadow: 2px 2px 29px 2px grey;;
    display: flex;
    border:.2rem solid white;
    align-items: center;
    /* justify-content: space-around; */
    background-color: rgb(0, 0, 0);
}
.right img{
    height: 12rem;
    width:12rem;
    margin: auto;
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .3rem solid white;
    border-radius: 2rem;
    margin: 2rem auto;
    height: 17rem;
    width: 70vw;
    font-size: 1.5rem;
    font-family: serif;
    text-transform: uppercase;
}
.songs{
    margin: auto;
    width: 90vw;
    display: flex;
    align-items: center;
}
.list{
    height: 30rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    align-items: center;
    /* justify-content: space-around; */
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    width: 20%;
}
.time{
    font-size: 2rem;
    position: absolute;
    right: -6rem;
}
.name{
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif
}
.list .final{
    margin:0.5rem auto;
    height: 20rem;
    width: 25rem;
}
.hoverplay{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    opacity: 1;
    background-image: url("./images/play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.3s ease-in;
}
.listr{
    position: relative;
    /* bottom: -1rem; */
    /* right: 62rem; */
    left: 6rem;
    display: flex;
    align-items: center;
}
.pauseplay{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    opacity: 1;
    background-image: url("./images/video.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.control{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem auto;
    border:.2rem solid white;
    border-radius: 2rem;
    width:80vw;
    height: 8rem;
    /* margin-top: 5rem; */
}
.play{
    height: 3rem;
    width:3rem;
    margin: auto;
    cursor: pointer;
    background-image: url("./images/play-button\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: auto;
    border:.2rem solid white;
    border-radius: 20%; */
}
.pause{
    background-image: url("./images/pause-button.png");
    height: 3rem;
    width:3rem;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    /* margin: auto;
    border:.2rem solid white;
    border-radius: 20%; */
}
#soundgif{
    margin-top: 0.4rem;
    height:1.3rem;
    width:6rem;
    left: 18rem;
    opacity: 0;
    transition:opacity 1s ease-in;
    position: absolute;
    /* transition: 0.3s ease-in; */
}
.btm{
    /* align-items: center; */
    justify-content: center;
    display: flex;
    /* flex-direction: column; */
}
#progressbar{
    width: 100rem;
    cursor: pointer;
    margin-top: 2rem;
}
.control{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.icons{
    display: flex;
    margin: 1rem;
    border:.2rem solid white;
    height: 4rem;
    width: 15rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.ic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic span{
    position: absolute;
    left: 17rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icons img{
    height: 3rem;
    cursor: pointer;
    width:3rem;
}
.subc{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: auto;
    width: 100%;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width:1440px){
    html{
        font-size: 55%;
    }
}
@media (max-width:1290px){
    html{
        font-size: 50%;
    }
}
@media (max-width:1180px){
    .list .final{
        height: 21rem;
        width:21rem ;
    }
    .name{
        font-size: 2rem;
    }
    
}
@media (max-width:1095px){

    .time{
        right: -4rem;
    }
}
@media (max-width:990px){
    html{
        font-size: 45%;
    }
}
@media (max-width:878px){
    html{
        font-size: 40%;
    }
}
@media (max-width:778px){
    .list .final{
        height: 21rem;
        width:18rem ;
    }
    .time{
        right: -3rem;
    }
    #progressbar{
        width:80rem;
    }
}
@media (max-width:668px){
    html{
        font-size: 35%;
    }
}
@media (max-width:598px){
    html{
        font-size: 35%;
    }
    .list .final{
        height: 20rem;
        width:16rem ;
    }
    .time{
        right: -2rem;
    }

}
@media (max-width:537px){
    html{
        font-size: 30%;
    }
    .name{
        font-size: 1.6rem;
    }
}
@media (max-width:448px){
    html{
        font-size: 25%;
    }
    #progressbar{
        width:70rem;
    }
}
@media (max-width:368px){
    html{
        font-size: 25%;
    }
    .list .final{
        height: 20rem;
        width:14rem ;
    }
    .time{
        right: -1rem;
    }
    #progressbar{
        width:60rem;
    }
    
}
@media (max-width:318px){
    html{
        font-size: 20%;
    }
    #progressbar{
        width:50rem;
    }
}
@media (max-width:278px){
    html{
        font-size: 15%;
    }
    
}
@media (max-width:178px){
    html{
        font-size: 10%;
    }
}
@media (max-width:138px){
    html{
        font-size: 5%;
    }
    #progressbar{
        width:55rem;
    }
}
//done
